@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "leaflet/dist/leaflet.css";
@import "tailwindcss";


@theme inline {

  --color-primary-400 : #FB8D8D;

  --color-secondary-200 : #EFF7FF;
  --color-secondary-300 : #84BBF0;
  --color-secondary-400 : #4798E9;
  --color-secondary-500 : #1976D2;
  --color-secondary-600: #13589D;
  --color-secondary-700: #0C3B69;

  --color-neutral-500: #fff;
  --color-neutral-600: #DFDFDF;
  --color-neutral-dark-400: #5b5b5b;
  --color-neutral-dark-500: #44444;
  --color-neutral-600: #080808;

  --color-accent-primary-400: #FDE096;
  --color-accent-primary-500: #FBC02D;
  --color-accent-primary-600: #FBC02D;
  
  --color-accent-secundary-400: #FFAD59;
  --color-accent-secundary-500: #F57C00;
  --color-accent-secundary-600: #F57C00;

  --color-accent-tertiary-400: #44D4C7;
  --color-accent-tertiary-500: #26A69A;
  --color-accent-tertiary-600: #186860;
  
  --color-light-blue-200: #CFE7FF;

  --color-success-400:#B5ECBB;
  --color-success-500:#7CDC86;
  --color-success-600:#5AD367;
  --color-success-700:#289533;

  --color-info-400:#9FCFFF;
  --color-info-500:#7FBFFF;
  --color-info-600:#208FFF;

  --color-error-400:#FFA4A4;
  --color-error-500:#FF9797;
  --color-error-600:#FF6464;
  
  --color-warning-400:#FEE39E;
  --color-warning-500:#FED97D;
  --color-warning-600:#FECB4E;

  --font-roboto: "Roboto", sans-serif; 
  --font-montserrat: "Montserrat", sans-serif; 

  --drop-shadow-content: 0 4px 20px rgba(0, 0, 0, 0.25);
}



body {
color: #444444;
font-family: "Roboto";
}
